<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        {% for c in worldcup %}
            <tr>
                
                {% for i in c %}
                    
                    {% if forloop.counter == 1 or forloop.parentloop.counter == 1 %}
                        <th>{{ i }}</th>
                    {% elif forloop.counter == 2 %}
                        <td><a href="https://ko.wikipedia.org/wiki/{{i}}" target="_blank">{{ i }}</a></td>
                    {% else %}
                        <td>{{ i }}</td>
                    {% endif %}
                        
                {% endfor %}
                    
            </tr>
        {% endfor %}
            
            
    </table>
</body>
</html>