#mainDiv{
    margin: 0 auto;
    width: 30%;
    background-color: beige;
    text-align: center;
}
ul{
    list-style-position: inside;
    padding: 0;
}
li{
    text-align: left;
    border-bottom: solid 1px #999;
    padding: 5px 0px;
}
#addBtn{
    padding: 5px 10px;
    border: 0px;
    background-color: rgb(78,123,247);
    color: white;
    border-radius: 5px;
}
.active{
    background-color: rgb(228, 253, 182);
}