/* auth.ejs */
<html>

<body>
    LOGIN
    <form action="/login" method="POST">
        <p>
            ID : <input type="text" name="id">
        </p>
        <p>
            password : <input type="password" name="pwd">
        </p>
        <p>
            <button>submit</button>
        </p>
    </form>
</body>

</html>