/* index.ejs */
<html>

<body>
    GET
    <form action="/get">
        <p>
            ID : <input type="text" name="id">
        </p>
        <p>
            password : <input type="password" name="pwd">
        </p>
        <p>
            <button>submit</button>
        </p>
    </form>
    POST
    <form action="/post" method="POST">
        <p>
            ID : <input type="text" name="id">
        </p>
        <p>
            password : <input type="password" name="pwd">
        </p>
        <p>
            <button>submit</button>
        </p>
    </form>
</body>

</html>